{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/novo_pet.css' %}" rel="stylesheet">
    <link href="{% static 'divulgar/css/seus_pet.css' %}" rel="stylesheet">
    <link href="{% static 'adotar/css/listar_pets.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-side-plataforma sidebar">
            <h2>ADO.TE</h2>
            <hr>
        </div>
        <div style="padding:60px" class="col-md">
            <div class="row">
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% for pedido in pedidos %}
                    <div class="col-md-3" style="margin-top: 20px;">
                        <div class="card" style="background-color: #D6D6D6; border:none;">
                            <div style="padding:10px">
                                <span clas="span-bold">{{ pedido.pet.nome }}</span>
                            </div>
                            <img class="card-img-top" src="{{ pedido.pet.foto.url }}">
                            <div class="card-body">
                                <h1 class="card-title">{{ pedido.usuario.username }}</h1>
                                <span class="span-bold2">Telefone:</span>
                                <p>{{ pedido.pet.telefone }}</p>
                                <span class="span-bold2">Cidade:</span>
                                <p>{{ pedido.pet.cidade }}</p>
                                <a href="{% url 'processa_pedido_adocao' pedido.id %}?status=A"
                                   class="btn btn-success btn-lg">Aprovar</a>
                                <a href="{% url 'processa_pedido_adocao' pedido.id %}?status=R"
                                   class="btn btn-danger btn-lg">Recusar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>